
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer components {
    .section-container {
        @apply w-full px-[8%] py-[0.75rem]
    }
    h2 {
        @apply text-center  font-bold  uppercase
    }
    .links {
        @apply hover:bg-yellow-400 p-4 rounded-xl
    }
    .back_main{
        @apply absolute right-3 bottom-3 w-12 h-12 text-center rounded-full bg-black text-white
    }
}



/* nav {
    z-index: 10000;
} */

/* Contact */

.section-container h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}