
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-height: 100vh;
}


@layer components {
    .section-container {
        @apply  w-[80%] px-[2%] py-[0.75rem] smm:px-[4%] mdd:px-[6%] lgg:px-[8%]
    }
    h2 {
        @apply text-center  font-bold  uppercase
    }
    .links {
        @apply hover:bg-yellow-400 p-4 rounded-xl
    }
    .back_main{
        @apply absolute right-3 bottom-3 w-12 h-12 text-center rounded-full bg-black text-white
    }
}




/* Contact */

.section-container h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}